/*
    Carousel
*/
.products-conveyor {
  margin: 0 -1rem 1rem;
  padding: 0;
  position: relative;
  overflow: hidden;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  .carousel-next,
  .carousel-prev {
    background-color: rgba(0,0,0,0.5);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    top: 50%;
    overflow: hidden;
    text-indent: 4rem;
  }

  .carousel-prev {
    background-image: url("../img/symbol_backward.svg");
    left: 0;
    transform: translate(0, -50%);
  }

  .carousel-next {
    background-image: url("../img/symbol_forward.svg");
    right: 0;
    transform: translate(0, -50%);
  }

  .carousel-indicators {
    display: none;
  }

  figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    margin: 0;
    padding: 0 1rem;

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }

    figcaption {
      position: absolute;
      left: 1rem;
      bottom: 0;
      right: 1rem;
      padding: 1rem;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      text-align: center;
    }

    &.carousel-0 {
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
    }

    &.carousel-1 {
      transform: translate3d(0%, 0, 0);
      opacity: 1;
    }

    &.carousel-2 {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
    @media only screen and (min-width: 768px) {
      width: 50%;

      &.carousel-0 {
        transform: translate3d(-200%, 0, 0);
        opacity: 0;
      }

      &.carousel-1 {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
      }

      &.carousel-2 {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
      }

      &.carousel-3 {
        transform: translate3d(100%, 0, 0);
        opacity: 1;
      }

      &.carousel-4 {
        transform: translate3d(200%, 0, 0);
        opacity: 0;
      }

      &.carousel-5 {
        transform: translate3d(300%, 0, 0);
        opacity: 0;
      }
    }
    @media only screen and (min-width: 992px) {
      width: 33%;

      &.carousel-0 {
        transform: translate3d(-300%, 0, 0);
        opacity: 0;
      }

      &.carousel-1 {
        transform: translate3d(-200%, 0, 0);
        opacity: 0;
      }

      &.carousel-2 {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
      }

      &.carousel-3 {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
      }

      &.carousel-4 {
        transform: translate3d(100%, 0, 0);
        opacity: 1;
      }

      &.carousel-5 {
        transform: translate3d(200%, 0, 0);
        opacity: 1;
      }

      &.carousel-6 {
        transform: translate3d(300%, 0, 0);
        opacity: 0;
      }

      &.carousel-7 {
        transform: translate3d(400%, 0, 0);
        opacity: 0;
      }

      &.carousel-8 {
        transform: translate3d(500%, 0, 0);
        opacity: 0;
      }
    }
  }
}
